<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.smhrd.mapper.BoardMapper">
	
	
	
	<select id="boardList" resultType="boardVO">
		select* from tbl_board
	</select>

	<insert id="boardInsert" parameterType="boardVO">   
        insert into tbl_board(title,contents,writer) 
        values(#{title},#{contents},#{writer})
	</insert>
	
                                      	<!-- Ajax -->
	
	<select id="boardListAjax" resultType="boardVO">
		select* from tbl_board order by idx desc
	</select>
	
	<select id="boardSearch" resultType="boardVO" parameterType="searchVO">
	    select * from tbl_board where ${part} like concat('%',#{keyword},'%')
	    	<!--title,writer,contents 이것이 바뀌어야하기때문에 ${}사용함 이것을 동적 쿼리라고함  -->		
	</select>

</mapper>